.newPostPage {
    height: 100%;
    display: flex;
  
    .formContainer {
      flex: 3;
      overflow: scroll;
  
      .wrapper {
        margin: 30px 50px 100px 0px;
  
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;
  
          .item {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 5px;
  
            label {
              font-size: larger;
              font-weight: 400;
              color: rgb(60, 57, 53);
            }
  
            input {
              padding: 15px;
              border-radius: 15px;
              border: 1px solid rgb(186, 171, 171);
              font-size: large;
            }
            
  
            select {
              padding: 15px;
              font-size: medium;
            }
  
            &.description {
              width: 100%;
              height: 320px;
  
              .quill > .ql-container > .ql-editor{
                height: 200px;
                font-size: 18px;
              }
            }
          }
          .sendButton {
            width: 30%;
            height: 50px;
            border-radius: 5px;
            border: none;
            margin-top: 30px;
            font-size: larger;
            background-color: teal;
            color: white;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }
  
    .sideContainer {
      flex: 2;
      background-color: #fcf5f3;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
  
      img {
        width: 50%;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }