@import "../../responsive.scss";

.noChatContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fcf5f3;
    border-radius: 15px;
    margin-top: 30px;
    padding: 25px;
    gap: 20px;
}

.noChatContainer h2{
    font-size: 24px;
    font-weight: 600;
    color: #444;
}
.noChatContainer p{
    font-size: 16px;
    color: #666;
    text-align: center;
    border: none;
}

@include md {
    .noChatContainer h2{
        font-size: 20px;
    }
}

@include sm {
    .noChatContainer h2{
        font-size: 18px;
    }
}