@import '../../responsive.scss';

.login {
    height: 100%;
    display: flex;
  
    .formContainer {
      flex: 3;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
        input{
          padding: 15px;
          border: 1px solid gray;
          border-radius: 5px;
        }
  
        button{
          padding: 15px;
          border-radius: 5px;
          border: none;
          background-color: #fece51;
          color: black;
          font-weight: bold;
          font-size: medium;
          letter-spacing: 0.7px;
          font-family: 'Montserrat', system-ui;

          cursor: pointer;
  
          &:disabled{
            background-color: #BED9D8;
            cursor: not-allowed;
          }
        }
  
        span{
          color: rgba(255, 0, 0, 0.591);
        }
  
        a{
          font-size: 14px;
          color: gray;
          border-bottom: 1px solid gray;
          width: max-content;
        }
      }
    }
  
    .imgContainer {
      flex: 2;
      background-color: #fcf5f3;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  @include md {
    .formContainer {
      flex: 2;
    }

    .imgContainer {
      flex: 1;

      img {
        object-fit: cover;
      }
    }
  }
  @include sm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .formContainer {
      flex: none;
      width: 100%;
    }

    .imgContainer {
      display: none;
    }
  }
  }