@import '../../responsive.scss';

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

@include lg{
        background-color: #f6eded;
        max-width: 1280px;
    }

@include md{
        background-color: #f6eded;
        max-width: 768px;
    }

@include sm{
        background-color: #f6eded;
        max-width: 640px;
    }
    
    
}

.content{
    height: calc(100vh - 100px);
}