@import "../../responsive.scss";


.profilePage {
  display: flex;
  gap: 40px;
  padding: 40px;

  @include md {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  @include sm {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}


.userInfo {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  margin-top: 40px;

  height: auto;
  overflow: visible;

  @include md {
    padding-right: 0;
    align-items: center;
    margin-top: 20px;
  }

  @include sm {
    padding-right: 0;
    align-items: center;
    margin-top: 20px;
  }
}

.textUser {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;

  @include md {
    font-size: 28px;
    text-align: center;
  }

  @include sm {
    font-size: 24px;
    text-align: center;
  }
}

.textHeading {
  display: flex;
  align-items: center;
  gap: 20px;

  @include md {
    flex-direction: column;
  }

  @include sm {
    flex-direction: column;
  }
}


.addNew {
  display: flex;
  align-items: center;
  gap: 20px;
  // margin-bottom: 20px;

  @include md {
    justify-content: center;
    width: 100%;
  }

  @include sm {
    justify-content: center;
    width: 100%;
  }

  .addBtn {
    padding: 10px 25px;
    background-color: #fece51;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e5b941;
    }
  }
}

.profileCard {
  width: 90%;
  max-width: 380px;
  height: 280px;
  border-radius: 20px;
  margin-top: 32px;
  margin-bottom: 40px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;

  position: static;
  top: 40px;

  &:hover {
    transform: translateY(-5px);
  }

  @include md {
    position: static;
  }

  @include sm {
    position: static;
    width: 100%;
    max-width: 320px;
  }

  .cardImageWrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .cardImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cardOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
      display: flex;
      flex-direction: column;
      color: #fff;

      .cardInfo {
        margin-bottom: 15px;

        h2 {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          opacity: 0.9;
        }
      }

      .imageBtn {
        display: flex;
        gap: 20px;

        .updateBtn {
          padding: 10px 18px;
          background-color: #fece51;
          border: none;
          border-radius: 20px;
          font-weight: 600;
          cursor: pointer;
          color: #000;
          transition: all 0.3s ease;

          &:hover {
            background-color: #e5b941;
            transform: translateY(-4px);
          }
        }

        .logoutBtn {
          padding: 10px 18px;
          background-color: rgb(176, 51, 51);
          border: none;
          border-radius: 20px;
          font-weight: 600;
          cursor: pointer;
          color: white;
          transition: all 0.3s ease;

          &:hover {
            background-color: rgb(205, 48, 48);
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}
// chat

.chatContainer {
  flex: 2;
  background-color: #fcf5f3;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  /* Sticky samo desktop */
  position: sticky;
  top: 30px;

  @include md {
    position: static;
    width: 100%;
  }

  @include sm {
    position: static;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .chatItem {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 12px 15px;
      background: #fff;
      border-radius: 12px;
      margin-top: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: all 0.25s ease;
      cursor: pointer;

      &:hover {
        background-color: #e5b941;
        transform: translateY(-3px);
      }

      .chatAvatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #fece51;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }
    }
  }
}
